<%= form_for @picture, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
  <%= f.label :subtype, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :subtype, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :caption, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :caption, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :status, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :status, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :file, :class => 'control-label' %>
  <div class="controls">
    <%= f.file_field :file %>
    <%= f.hidden_field :file_cache %>
    <label>
      <%= f.check_box :remove_file %>
      Remove File
    </label>
  </div>
</div>

<% content_for :sidebar do %>
      <%= image_tag(f.object.file_url,
                    :class => 'img-rounded') if f.object.file? %>
<% end %>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      pictures_path, :class => 'btn' %>
</div>
<% end %>
